<!-- Attribute: <div isolate-scope-with-controller datasource="customers" add="addCustomer()"></div>

Element: <isolate-scope-with-controller datasource="customers" add="addCustomer()">
         </isolate-scope-with-controller> -->

<div id="mainWrapper">
  <h1>Progress Bars Demo</h1>
  <loading-bar 
    ng-repeat='bar in endPoint.bars track by $index'
    currentstate='bar'
    limit='endPoint.limit'
    progress-index='$index'
    id="progress_{{$index}}"
  >
  </loading-bar>
  
  <div id="controllerBar">
    
    <select 
      ng-model='progressBarSelected' 
      ng-init="progressBarSelected='0'"
    >
      <option 
        ng-repeat='option in endPoint.bars track by $index'
        value='{{$index}}'
      >
        Progress {{$index+1}}
      </option>
    </select>
    <button 
      ng-repeat='btn in endPoint.buttons'
      ng-click='controller.changeProgress(btn)'
      class="btn"
    >
      {{btn}}
    </button>
  </div>
  
</div>