#mainWrapper{
  margin: 20px;

}

#controllerBar{
}

.progressWrapper{
  width:300px;
  margin:20px 0;

  .progressBarTitle{
    text-align:center;
  }

  .prograssBar {
    background-color: #dddddd;
    border-radius:25px;

    .progressBackground {
      height: 20px;
      background-color: #5cb85c;
      border-radius:25px;
    }

    .redBar{
      background-color: red!important;
      overflow: hidden;
      max-width:100%!important
    }
   
  }

  .progressText {
    position: relative;
    display: block;
    color:#fff;
    margin-top:-20px;
    text-align:center;
  }
}


